<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PrinterServer</display-name>
  <welcome-file-list>
    <welcome-file>update.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>121</error-code>
    <location>/error.jsp</location>
  </error-page>
  <context-param>
    <param-name>printer1</param-name>
    <param-value>BTP-L540H</param-value>
<!--     <param-value>SF_Printer</param-value> -->
  </context-param>
  <context-param>
    <param-name>dyjDir</param-name>
    <param-value>C:/DyjPrinter/</param-value>
  </context-param>
  <context-param>
    <param-name>printerDpi</param-name>
    <param-value>300</param-value>
  </context-param>
  <context-param>
    <param-name>openoffice_home</param-name>
    <param-value>C:/Program Files (x86)/OpenOffice 4/</param-value>
  </context-param>
  <context-param>
    <param-name>KY_Printer</param-name>
    <param-value>KY_Printer</param-value>
  </context-param>
</web-app>